# ignore these in all commits
Debug
*sdf
*.ncb
ipch
*.suo
*.user
*.pdb
*.o

# ignore in the intermediate commits
*.md
Release
*.dll

# ignore in the final commit
#SurfaceGrowthConsole/*.dll
#SurfaceGrowthConsole/Release

# allow in the final commit:
#Release
#.dll
#*.md

